@import url('https://fonts.googleapis.com/css?family=Kodchasan');

html, body, section{
	height: 99%;
	background: linear-gradient(90deg, rgba(253,66,83,1) 0%, rgba(0,47,65,1) 100%);
}

body{
	color:#fff;
	text-align:center;
}

.container{
	display:flex;
}

div{
	display:flex;
	flex-direction:column;
	justify-content:center;
}

.left{
	background: linear-gradient(rgba(0,0,0,0.85), rgba(255,255,255,0.10)), url(Images/xo2.jpg);
	background-size:cover;
	background-position:center;
	flex:1;
	padding:1rem;
	transition: all .2s ease-in-out;
}

.right{
	background: linear-gradient(rgba(0,0,0,0.85), rgba(164,222,102,0.10)), url(Images/abg1.jpg);
	background-size:cover;
	background-position:center;
	flex:1;
	padding:1rem;
	transition: all .2s ease-in-out;
}

.left:hover, .right:hover{
	transform: scale(0.98);
}

.title{
	font-family: 'Kodchasan', sans-serif;
    position: absolute;
    font-size: 80px;
    z-index: 1;
    right: 525px;
    color: #ffffff;
	font-weight: 600;
    height: 100px;
}

.left h1{
	font-family: 'Kodchasan', sans-serif;
	font-size:4em;
}

.right h1{
	font-family: 'Kodchasan', sans-serif;
	font-size:4em;
}

.button{
	border-radius:30px;
	color:#fff;
	text-decoration:none;
	background-color:#5f95ee;
	padding:15px 25px;
	margin:0 2%;
	text-align:center;
	font-weight:bold;
	display:inline-block;
	font-size:1.5em;
	cursor:pointer;
	transition:all 0.3s;
	width: 150px;
	font-family: 'Kodchasan', sans-serif;
}

.button:hover{
	background: #2c6ccb;
}